body{
    font-family: "araboto-normal", sans-serif;
    font-size: 48px;
    background-color: #1F2937;
}
.header{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    color: #e5e7eb;
    font-family: "araboto-light";
}
#header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-family: "araboto-bold";
}
.section1{
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}
.section1-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
}
.main-text{
    font-size: 48px;
    color: #f9faf8;
    width: 500px;
    font-family: "araboto-bold";
    margin: 0;
}
.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    width: 600px;
    font-family: "araboto-light";
    display:flex;
    width: 500px;
    margin: 0;
    margin-bottom: 10px;
}
#placeholder-img{
    height: 300px;
    width: 600px;
}
.signup-button{
    border-radius: 5px;
    align-self: flex-start;
    padding: 5px 15px 5px 15px;
    background-color: #3882F6;
    color: #e5e7eb;
    font-family: "araboto-bold";
}